services:
  api:
    build: .
    restart: unless-stopped
    ports:
      - "${PORT}:5000"  # El puerto puede ser configurado con una variable de entorno
      # - "3000:3000"  # Puerto de depuración
    environment:
      - DEBUG=true  # Variable de entorno para habilitar el modo de depuración
      - PORT=${PORT}
      - MYSQL_HOST=${MYSQL_HOST}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - SERVER_IP=${SERVER_IP}
      - USERNAME=${USERNAME}
      - PASSWORD=${PASSWORD}
      # - FLASK_ENV=development
    volumes:
      - ./xml:/app/xml
    depends_on:
      - mariadb
    dns:
      - 8.8.8.8

  mariadb:
    image: mariadb:latest
    ports:
      - "3306:3306" # Only enabled on development
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      # - ./docker/mysql/init.sql:/docker-entrypoint-initdb.d/init.sql  # Monta el script SQL como un entrypoint para inicializar la base de datos
      - mariadb_data:/var/lib/mysql  # Agrega un volumen para persistir los datos de la base de datos

volumes:
  mariadb_data:  # Define el volumen para persistir los datos de la base de datos

# networks:
#   default:
#     name: ghost-services
#     external: true
